body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lightbrownbg {
  background-color: #F8F4F2;
}

.purple {
  background-color: #81647C;
}

.dashboard-p {
  font-size: 1.7rem;
}

/* .bookTitle {
  font-weight: bold;
} */
